body{
    background-color: #252B42;
    /* padding: 15px; */
    /* mudar isso */    
}

.home-content{
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
}

.navbar{
    padding: 30px;
}

.nav-link{
    padding: 19px 0px 0px 39px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin-left: 30px;
    letter-spacing: 1px;
}

.nav-link:hover{
    color: white; 
    /* revisar */
}

.search{    
    padding-left: 45px;
    padding-top: 10px;
    background-color: #efefef;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    margin-left: 40px;
    font-size: 14px;
    border-radius: 39px;    
    width: 273px;
    height: 54px;   
    
}


.subscribe{
    background: #FFFFFF;
    border-radius: 35px;
    color: #ef2779;
    font-family: 'Roboto';
    font-size: 16px;
    margin-left: 10px;   
    border: none;
    height: 54px;
    width: 141px;
}

.subscribe:hover{
    background-color: white;
    color: #38A3F1;
}

/* ______________________________ */

.weFocus{
    font-size: 55px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    line-height: 65px;
    color: white;
    text-align: left;
    /* margin: 120px 0px 0px 100px; */
    /* /* margin-left: 100px; */
    margin-top: 40px;
 } 

 
.subtitle-page{
    font-size: 16px;
    color: white;
    line-height: 20px;
    text-align: left;
    /* margin: 20px 0px 0px 100px; */
    /* margin-left: 100px; */
    margin-top: 20px;
}
 
.try{
    width: 236px;
    height: 60px;
    border-radius: 35px;
    padding: 16px;
    color: #38A3F1;
    position: static;
    /* margin: 50px 0px 0px 100px; */
    margin-top: 50px;
} 
 
.try:hover{
    color: #ef2779;
    background-color: white;
} 



/* second section */
.title-section{
    text-align: center;
    font-size: 56px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0.2px;
    
}   
    
.subtitle-section{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    margin-top: 30px;
    font-family: 'Roboto';
    line-height: 20px;
    letter-spacing: 0.2px;
}

#features{
    padding: 80px;
    color:white;
    background: #252B42;        
}
.container-features{
    margin-left: 5%;
}

.features-content{
    margin-top: 100px;
    padding: 0px 50px 0px 50px;
}

.fingertips{
    font-size: 22px;
    text-align: center;
    font-weight: 700px;
    line-height: 33px;
    letter-spacing: 0.1px;
}


.features-title{
    position: static;
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 33px;
    padding-right: 60px;
    
    
}

.img-features{
    position: static;
    width: 44px;
    height: 44px;
    
}



.features-text{
    text-align: justify;
    padding-top: 20px;
    padding-right: 100px;
    /* padding-left: 50px; */
    
}


/* trird section */


.lightning{
    padding-top: 100px;
    background-color: #252B42;
    text-align: center;
    color: white;
}

.title-lightning{
    font-family: 'Roboto';
    font-size:46px;
}

.subtitle-lightning{
    font-size: 16px;
    margin-top: 50px;

}

.try-lightning{

    width: 236px;
    height: 65px;
    border-radius: 35px;
    background-color: #38A3F1;
    border: none;
    color: white;
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;   


}

.try-lightning:hover{
    background-color: #38A3F1;
    color: white;
}


.computer{
    margin-top: 100px;
    width: 900px;
    height: 450px;
}

.subs{
    margin-top: 200px;
    text-align: center;
    color: white;
}

.subscribe-section{
 
    width: 353px;
    height: 54px;
    border-radius: 39px;
    border: 1px solid #E8E8E8;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.subscribe-button{
    display: block;
    width: 353px;
    height: 50px;
    border-radius: 35px;
    background-color: #EF2779;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.partners-section{
    color: white;
}