body{
    background: rgb(120,52,190);
    background: linear-gradient(90deg, rgba(120,52,190,1) 0%, rgba(239,39,121,1) 45%); 
    /* background-color: green; */
    /* padding: 15px; */
    /* mudar isso */
    
}


.navbar{
    padding: 30px;

}

.nav-link{
    padding: 19px 0px 0px 39px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin-left: 30px;
    letter-spacing: 1px;
}

.nav-link:hover{
    color: white; 
    /* revisar */
}

.search{    
    padding-left: 45px;
    padding-top: 10px;
    background-color: #efefef;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    margin-left: 40px;
    font-size: 14px;
    border-radius: 39px;    
    width: 273px;
    height: 54px;   
    
}


.subscribe{
    background: #FFFFFF;
    border-radius: 35px;
    color: #ef2779;
    font-family: 'Roboto';
    font-size: 16px;
    margin-left: 10px;   
    border: none;
    height: 54px;
    width: 141px;
}

.subscribe:hover{
    background-color: white;
    color: #38A3F1;
}

/* ______________________________ */

h1{
    font-size: 55px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    line-height: 65px;
    color: white;
    text-align: left;
    /* margin: 120px 0px 0px 100px; */
    /* /* margin-left: 100px; */
    margin-top: 40px;
 } 

 
h4{
    font-size: 16px;
    color: white;
    line-height: 20px;
    text-align: left;
    /* margin: 20px 0px 0px 100px; */
    /* margin-left: 100px; */
    margin-top: 20px;
}
 
.try{
    width: 236px;
    height: 60px;
    border-radius: 35px;
    padding: 16px;
    color: #38A3F1;
    position: static;
    /* margin: 50px 0px 0px 100px; */
    margin-top: 50px;
} 
 
.try:hover{
    color: #ef2779;
    background-color: white;
} 

#features{
    padding: 80px;
    color:white;
    background: #252B42;
    text-align: center;
}

.features-title{
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 33px;
    
}


.img-features{
    position: static;
    width: 44px;
    height: 44px;

}